# IDE's
stump.sublime-workspace

# Localhost DB
backend/stump_backend/stump_backend/db.sqlite3

# Static files
backend/stump_backend/staticfiles/

# Secrets
backend/stump_backend/.env*

# Google Cloud configuration and scripts
cloud_sql_proxy
